{
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "trailingComma": "all"
      }
    }
  ]
}
